<div style="background: #6a11cb">
    {{#each list}}
    <div class="my-2">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
                            src="{{thumb}}">
                    </div>
                    <div class="col-md-6 mt-1">
                        <h5>{{title}}</h5>
                        <div class="mt-1 mb-1 spec-1"><span>Juego vendido por:
                                <br>{{name}}</span>
                        </div>
                        <p class="text-justify text-truncate para mb-0">Valoración: {{steamRatingText}}<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">{{salePrice}}$</h4>
                            <span class="strike-text">Antes: {{normalPrice}}$</span>
                        </div>
                        <h6 class="text-success">Descuento: {{savings}}%</h6>
                        <div class="d-flex flex-column mt-4">
                            <button class="btn btn-primary btn-sm text-white" type="button">
                                <a class="text-white" href="https://www.cheapshark.com/redirect?dealID={{dealID}}"
                                    target="_blank">Comprar</a>
                            </button>
                            {{!-- <button class="btn btn-outline-primary btn-sm mt-2" type="button">Add to
                                wishlist</button>
                            --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>