<div class="vh-100 mt-5" style="background: #6a11cb">
    <div class="d-flex flex-wrap justify-content-center ">
        {{#each game}}
        <div class="card my-5 mx-5" style="width: 300px;">
            <img src="{{thumb}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h4 class="card-title">{{external}}</h4>
                <h6 class="card-text">Precio: {{price}}$</h6>
                <p class="card-text">Más barato {{cheapest}}$</p>
                <a href="/check-game/{{gameID}}" class="btn btn-primary">Ir a las ofertas</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>